services:
  traefik:
    image: traefik:v3
    command:
      - "--api.dashboard=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    labels:
    - "traefik.enable=true"
    - "traefik.http.routers.dashboard.rule=Host(`traefik.localhost`)"
    - "traefik.http.routers.dashboard.service=api@internal"
    - "traefik.http.routers.dashboard.middlewares=auth"
    - "traefik.http.middlewares.auth.basicauth.users=admin:$$apr1$$vg8.gnDH$$7kRR2/4EotW9dRMSReV1a."
    ports:
      - "80:80"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

  api:
    build:
      context: .
      dockerfile: packages/api/Dockerfile
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.api.rule=Host(`localhost`)"
      - "traefik.http.services.api.loadbalancer.server.port=3000"
    deploy:
      replicas: 2
    env_file:
      - packages/api/.env
    depends_on:
      - db

  db:
    image: postgres:18
    env_file:
      - .env.db
    volumes:
      - pgdata:/var/lib/postgresql

volumes:
  pgdata:
